{% extends 'base.html' %}
{% load static %}

{% block title %}Профайл пользователя {{ author.get_full_name|title }}.{% endblock %}

{% block content %}
  <h1 class="main-title">Все посты пользователя {{ author.get_full_name|title }}</h1>
  <h3 class="sub-main-title">Всего постов: {{ author.posts.count }}</h3>
  {% if user.is_authenticated and user.username !=  author.username %}
    {% if following %}
    <div class="unfollowing-block">
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
    </div>
    {% else %}
    <div class="following-block">
      <a
        class="btn btn-lg btn-info"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
    </div>
    {% endif %}
  {% endif %}

  {% include 'posts/includes/post_list.html' %}
    <script src="{% static 'js/post_view_full.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}
