{% extends "base.html" %}
{% load user_filters %}

{% block title %}Войти{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Войти на сайт
        </div>
        <div class="card-body">

          {% include 'includes/view_errors.html' %}

          <form method="post"
            action="{% url 'users:login' %}?next={{ next }}"
          >
            {% csrf_token %}

            {% include 'includes/view_form.html' %}

            <div class="d-flex justify-content-center pb-4 border-bottom">
              <button type="submit" class="btn btn-outline-info text-decoration-none card-botttom-link me-5">
                Войти
              </button>
              <a href="{% url 'users:password_reset_form' %}" class="btn text-decoration-none btn-outline-warning">
                Забыли пароль?
              </a>
            </div>
          </form>

          <!-- Social button enter -->
          {% include 'users/includes/social_oauth.html' %}

        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}